<body class="crm_body_bg">
  <nav
    class="sidebar vertical-scroll dark_sidebar ps-container ps-theme-default ps-active-y"
  >
    <div class="logo d-flex justify-content-between">
      <a href="#"
        ><img style="width: 40px" src="img/qc.png" alt="" />
        <span
          style="
            padding-left: 10px;
            margin-top: 80px;
            color: #fff;
            font: 900;
            font-size: 16px;
          "
          >Study Abroad</span
        ></a
      >
      <div class="sidebar_close_icon d-lg-none">
        <i class="ti-close"></i>
      </div>
    </div>
    <ul id="sidebar_menu">
      <li class="active">
        <a class="active" href="/dashboard" aria-expanded="false">
          <div class="icon_menu">
            <img src="img/menu-icon/dashboard.svg" alt="" />
          </div>
          <span>Dashboard</span>
        </a>
      </li>
 
       <li class="active">
        <a class="active" href="/form1" aria-expanded="false">
          <div class="icon_menu">
            <img src="img/menu-icon/dashboard.svg" alt="" />
          </div>
          <span>Create Application</span>
        </a>
      </li>
      <li class="active">
        <a class="active" href="/applicationstatus" aria-expanded="false">
          <div class="icon_menu">
            <img src="img/menu-icon/dashboard.svg" alt="" />
          </div>
          <span>Application Status</span>
        </a>
      </li>
      <li class="active">
        <a class="active" href="/applicationdetails" aria-expanded="false">
          <div class="icon_menu">
            <img src="img/menu-icon/dashboard.svg" alt="" />
          </div>
          <span>Application Details</span>
        </a>
      </li>
      <li class="active">
        <a href="/logout" aria-expanded="false">
          <div class="icon_menu">
            <img src="img/menu-icon/dashboard.svg" alt="" />
          </div>
          <span>Sign Out</span>
        </a>
      </li>
    </ul>
  </nav>

  <section class="main_content dashboard_part large_header_bg">
    <div class="container-fluid g-0">
      <div class="row">
        <div class="col-lg-12 p-0">
          <div
            class="header_iner d-flex justify-content-between align-items-center"
          >
            <div class="sidebar_icon d-lg-none">
              <i class="ti-menu"></i>
            </div>
            <div class="serach_field-area d-flex align-items-center">
              <div class="search_inner">
                <form action="#">
                  <div class="search_field">
                    <input type="text" placeholder="Search here..." />
                  </div>
                  <button type="submit">
                    <img src="img/icon/icon_search.svg" alt="" />
                  </button>
                </form>
              </div>
              <span class="f_s_14 f_w_400 ml_25 white_text text_white"
                >Apps</span
              >
            </div>
            <div
              class="header_right d-flex justify-content-between align-items-center"
            >
              <div class="profile_info">
                <img src="img/client_img.png" alt="#" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main_content_iner overly_inner">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-12">
            <div
              class="page_title_box d-flex align-items-center justify-content-between"
            >
              <div class="page_title_left">
                <h3 class="f_s_30 f_w_700 text_white"> Admin Dashboard</h3>
              </div>
              <!-- <a href="/logout" class="white_btn3">Create Report</a> -->
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 card_height_100">
            <div class="white_card mb_20">
              <div
                class="white_card_body renew_report_card d-flex align-items-center justify-content-between flex-wrap"
              >
                <div class="renew_report_left">
                  <h4 class="f_s_19 f_w_600 color_theme2 mb-0">
                    Welcome <%= user.fullname %>
                  </h4>
                  <p class="color_gray2 f_s_12 f_w_600">
                    Here"s Whats Going on in your account today.
                  </p>
                </div>
                <div class="create_report_btn">
                  <a href="/form1" class="btn_1 mt-1 mb-1">New application</a>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row justify-content-center">
         
          <div class="col-md-6">
            <div class="card mb-3 widget-chart">
              <div class="icon-wrapper rounded-circle">
                <div class="icon-wrapper-bg bg-danger"></div>
                
              </div>
              <div class="widget-numbers">
                <span><%= user.wallet_balance %>,000</span>
              </div>
              <div class="widget-subheading">Wallet Balance</div>
              <div class="widget-description text-primary">
                <span class="pe-1">54.1%</span>
                <i class="fa fa-angle-up"> </i>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-3 widget-chart">
              <div class="icon-wrapper rounded-circle">
                <div class="icon-wrapper-bg bg-info"></div>
               
              </div>
              <div class="widget-numbers">
                <span><%= uncompletedApplicationsCount %></span>
              </div>
              <div class="widget-subheading">Rejected Applcations</div>
              <div class="widget-description text-info">
                <i class="fa fa-arrow-right"> </i>
                <span class="ps-1">175.5%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-4">
            <div class="card mb-3 widget-chart">
              <div class="icon-wrapper rounded-circle">
                <div class="icon-wrapper-bg bg-primary"></div>
              
              </div>
              <div class="widget-numbers">
                <span><%= allApplications.length %></span>
              </div>
              <div class="widget-subheading">All Applications</div>
              <div class="widget-description text-success">
                <i class="fa fa-angle-up"> </i>
                <span class="ps-1"><span>0.00%</span></span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-3 widget-chart">
              <div class="icon-wrapper rounded-circle">
                <div class="icon-wrapper-bg bg-danger"></div>
             
              </div>
              <div class="widget-numbers">
                <span><%= completedApplicationsCount %></span>
              </div>
              <div class="widget-subheading">Completed Applications</div>
              <div class="widget-description text-primary">
                <span class="pe-1">54.1%</span>
                <i class="fa fa-angle-up"> </i>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-3 widget-chart">
              <div class="icon-wrapper rounded-circle">
                <div class="icon-wrapper-bg bg-info"></div>
               
              </div>
              <div class="widget-numbers">
                <span><%= uncompletedApplicationsCount %></span>
              </div>
              <div class="widget-subheading">Uncompleted Applcations</div>
              <div class="widget-description text-info">
                <i class="fa fa-arrow-right"> </i>
                <span class="ps-1">175.5%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer_part">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="footer_iner text-center">
              <p>
                ©
                <script>
                  document.write(new Date().getFullYear());
                </script>
                2023 - Designed by
                <a href="https://edu-central.org">eduCENTRAL</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
